* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#header {
    width: 100%;
    background: linear-gradient(to top, #373737, #212121);
}

.inner {
    margin: 0 auto;
    padding: 50px 10px 30px 10px;
    position: relative;
    max-width: 640px;
    display: block;
}

#github_banner {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #ffff;
    background: url("../icons/blacktocat.png") #0090ff no-repeat 95% 50%;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

#github_banner:hover {
    text-decoration: underline;
}

#title {
    color: #ffff;
    font-size: 42px;
    text-shadow: #111 0px 0px 10px;
    font-weight: 700;
}

#description {
    font-size: 24px;
    font-weight: 400;
    color: #ffff;
    text-shadow: #111 0px 0px 10px;
}

#download {
    position: absolute;
    width: 115px;
    z-index: 10;
    bottom: -40px;
    right: 0;
    height: 70px;
    background: url("../icons/icon_download.png") no-repeat 0% 90%;;
}

.zip_download {
    display: block;
    float: right;
    width: 90px;
    height: 70px;
    text-indent: -5000px;
    overflow: hidden;
    background: url("../icons/download.png") no-repeat bottom left;
    padding-left: 5px;
    text-shadow: #111 0px 0px 10px;
}

.zip_download:hover {
    background: url("../icons/download.png") no-repeat top left;
}